<div class="popup-block" id="addStudentPopup">
    <div class="invite-popup create-popup">
        <div class="box box-invite">
            <div class="title-popup">
                <h4 ng-if="classOwner.email === currUser.email">Add student to class</h4>
                <h4 ng-if="classOwner.email !== currUser.email">Invite Code</h4>
            </div>

            <div class="email-invite" ng-if="classOwner.email === currUser.email">
                <input type="text" placeholder="Student E-mail" ng-model="newStudent.email" />
            </div>

            <div class="code-invite">
                <h5 ng-if="classOwner.email === currUser.email">Invite Code: {{ classId }}</h5>
                <h4 ng-if="classOwner.email !== currUser.email">{{ classId }}</h4>
            </div>

            <div class="okay-popup" ng-if="classOwner.email === currUser.email">
                <button ng-click="addStudent()"><h4>Add</h4></button>
            </div>

            <div class="close-popup">
                <button ng-click="closePopup('addStudentPopup')"></button>
            </div>
        </div>
    </div>
</div>
