<div class="sidebar">
    <div class="toolbox-sidebar">
        Classes
        <button class="addClass" ng-click="addClassPopup()" id="addClassBtn">Add Class</button>

        <button class="addToClass" ng-click="addToClass()">Add To Class</button>

        <div class="divider-toolbox"></div>

        <ul class="addClass">
            <li ng-repeat="class in classes">
                <a href="/class/{{ class.id }}">{{ class.name }}</a> | <button ng-click="showInviteCode(class.id)">Invite Code</button>
            </li>
        </ul>

        <ul class="addToClass">
            <li ng-repeat="class in classes" id="class-{{ class.id }}">
                <a href="#" ng-click="selectClass(class.id)">{{ class.name }}</a>
            </li>
        </ul>

        <div class="divider-toolbox"></div>

        <div>
            <input type="text" ng-model="classToJoin" />
            <button ng-click="joinClass()">Join Class</button>
        </div>
    </div>

    <style type="text/css">
        .addToClass {
            display: none;
        }
        .classSelected {
            background-color: blue;
            color: white;
        }
    </style>
</div>
