<div class="sidebar">
    <div class="toolbox-sidebar">
        <div class="header-toolbox">
            <div class="title-header">
                <h4>Classes</h4>
            </div>
            <div class="create-header">
                <button class="addClass" ng-click="addClassPopup()" id="addClassBtn"><h5>Create new</h5></button>
            </div>
            <div class="add-header">
                <button class="addToClass" ng-click="addToClass()"><h5>Add to</h5></button>
            </div>
        </div>
        <div class="divider-toolbox"></div>

        <div class="classes-toolbox">
            <ul class="addClass">
                <li ng-repeat="class in classes">
                    <a class="class" href="/class/{{ class.id }}" title="{{ class.name }}">
                        <div class="icon-class other-icon"></div>
                        <div class="name-class">
                            <h5>{{ class.name | limitTo: 21 }}</h5>
                        </div>
                        <!--div class="notif-class">
                            <p>555</p>
                        </div-->
                    </a>
                    <!-- <button ng-click="showInviteCode(class.id)">Invite Code</button> -->
                </li>
            </ul>

            <ul class="addToClass">
                <li ng-repeat="class in classes" id="class-{{ class.id }}" title="{{ class.name }}">
                    <a class="class" href="#" ng-click="selectClass(class.id)">
                        <div class="icon-class other-icon"></div>
                        <div class="name-class">
                            <h5>{{ class.name | limitTo: 21 }}</h5>
                        </div>
                        <!--div class="notif-class">
                            <p>2</p>
                        </div-->
                    </a>
                </li>
            </ul>
        </div>

        <div class="join-toolbox">
            <input type="text" ng-model="inviteCode" placeholder="Invite code"/>
            <button ng-click="joinClassPopup()">Join class</button>
        </div>
    </div>
</div>
