<div class="core">
    <div class="content-core">
        <div class="header-content">
            <div class="title-header">
                <h3>{{ class.name }}</h3>
            </div>
            <div class="add_new">
                <button><h5>Add new</h5></button>
                <div class="hover-add"> <!-- hidden, add if necessary -->
                    <p>Add new Study Set</p>
                </div>
                <div class="menu-add">
                    <div class="arrow-menu"></div>
                    <div class="box-menu">
                        <a href="#" class="blank" ng-click="createList()">
                            <div class="icon"></div>
                            <div class="text">
                                <h5>New blank</h5>
                            </div>
                        </a><a href="/import" class="import">
                            <div class="icon"></div>
                            <div class="text">
                                <h5>Import</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sort-header">
                <label id="list-sort-label">
                    <select id="list-sort" ng-model="listOrder">
                        <option value="alpha" selected><p>a-z</p></option>
                        <option value="alphaReverse"><p>z-a</p></option>
                        <option value="date"><p>oldest</p></option>
                        <option value="dateReverse"><p>newest</p></option>
                    </select>
                    <!--::after-->
                </label>
            </div>
        </div>
        <div class="library-content">
            <div class="study_set" ng-repeat="list in lists | orderBy:predicate:reverse" id="studySet-{{ list.id }}">
                <div class="set-content" ng-click="viewList(list.id)">
                    <div class="icon-study {{ list.category }}-icon"></div>
                    <div class="text-study">
                        <h4>{{ list.title }}</h4>
                        <h5>{{ list.terms.length }} terms</h5>
                    </div>
                    <div class="date-study">
                        <p>{{ list.createdAt | date: 'MM/dd/yyyy' }}</p>
                    </div>
                </div>
                <div class="set-edit">
                    <div class="select-set">
                        <input type="checkbox" id="select-set-{{ list.id }}" ng-click="selectList(list.id)" />
                        <label for="select-set-{{ list.id }}"><span></span></label>
                    </div><div class="delete-set">
                        <button ng-click="deleteList(list.id, 'saved')"></button>
                    </div>
                </div>
            </div>

            <div class="placeholder-content">
                <div class="icon"></div>
                <div class="title">
                    <h5>Your Study Sets live here</h5>
                </div>
                <div class="text">
                    <p>Add your own Study Sets, or explore our database to import your favourite topics</p>
                </div>
            </div>
        </div>
    </div>
</div>

<student-sidebar></student-sidebar>

<script src="/js/angular/list/partials/js/index.js"></script>
