<div class="popup-block" id="inviteCodePopup">
    <div class="invite-popup">
        <div class="box-invite">
            <div class="title-popup">
                <h5>Your invite code:</h5>
            </div>
            <div class="code-invite">
                <h4>{{ classId }}</h4>
            </div>
            <div class="okay-popup">
                <button><h4>Done</h4></button>
            </div>
            <div class="close-popup">
                <button ng-click="closePopup('inviteCodePopup')"></button>
            </div>
        </div>
    </div>
</div>
