<div class="sidebar">
    <div class="toolbox-sidebar">
        <div class="header-toolbox">
            <div class="title-header">
                <h4 ng-if="classOwner.email === currUser.email">Students</h4>
                <h4 ng-if="classOwner.email !== currUser.email">Classmates</h4>
            </div>
            <div class="invite-header">
                <button ng-click="addStudentPopup()"><h5>Invite</h5></button>
            </div>
        </div>
        <div class="divider-toolbox"></div>
        <div class="students-toolbox">
            <ul>
                <li ng-repeat="student in students">
                    <div class="user-student">
                        <a href="#">
                            <img class="image-user" ng-src="{{ student.email | gravatar:80 }}" />
                            <div class="name-user">
                                <h5>{{ student.name }}</h5>
                            </div>
                        </a>
                        <div class="leave-user">
                            <button ng-click="removeStudent(student.id)" ng-if="classOwner.email === currUser.email || currUser.id === student.id"></button>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="placeholder-toolbox">
                <div class="title">
                    <h5>These are your students</h5>
                </div>
                <div class="text">
                    <p>Invite more students to study this class together</p>
                </div>
            </div>
        </div>
        <div class="stats-toolbox">
            <button ng-click="statsPopup()">See class stats</button>
        </div>

        <!-- <div>
            <input type="text" ng-model="studentToAdd" />
            <button ng-click="addStudent()">Add Student</button>
        </div> -->
    </div>
</div>
