<!DOCTYPE html>
<html>
<head>
    <title>TestLegends</title>

    <link href="/styles/style.min.css" rel="stylesheet" />

    <% /* HACK: Need this for JavaScripts in angular partials */ %>
    <% /* https://groups.google.com/forum/#!topic/angular/H4haaMePJU0 */ %>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="logo-nav">
                <a href="/" class="link-logo">
                    <span class="image-logo"></span>
                    <div class="name-logo">
                        <h1><span>T</span>est<span>L</span>egends</h1>
                    </div>
                </a>
            </div>
            <nav class="navbar-nav">
                <ul>
                    <li id="library-nav" class="active-nav">
                        <a href="/"><h5>Library</h5></a>
                    </li>
                    <li id="import-nav">
                        <a href="/import"><h5>Import</h5></a>
                    </li>
                    <li id="game-nav">
                        <a href="#"><h5>Game</h5></a>
                    </li>
                </ul>
            </nav>
            <div class="user-nav">
                <div class="name-user">
                    <h5>Emily Van Wychen</h5>
                </div>
                <img class="image-user" src="https://www.gravatar.com/avatar/9116994a95b11f219055306520647168" />
                <div class="menu-user">
                    <div class="arrow-menu"></div>
                    <div class="box-menu">
                        <ul>
                            <li id="profile-user">
                                <a href="#">Your Profile</a>
                            </li>
                            <li id="settings-user">
                                <a href="#">Settings</a>
                            </li>
                            <li id="logout-user">
                                <a href="/user/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <%- body %>
    </div>
</body>
</html>
