<div class="core">
    <div class="content-core">
        <div class="header-content import-header"> <!-- color blue-->
            <div class="title-header">
                <h3><span>I</span>mport</h3>
            </div>
            <div class="search-header">
                <input type="search" placeholder="Search" ng-model="search_params.q" id="list_search" />
                <button style="visibility: hidden" type="button" ng-click="search()" id="list_search_btn"></button>
            </div>
        </div>
        <div class="import-content">
            <div class="study_set" ng-repeat="list in search_result.sets" id="studySet-{{ list.id }}">
                <div class="set-content" ng-click="viewList(list.id, true)">
                    <div class="text-study text-quizlet">
                        <h4>{{ list.title }}</h4>
                        <h5>{{ list.desc }}</h5>
                    </div>
                </div>
                <div class="set-edit">
                    <div class="select-set">
                        <input type="checkbox" id="select-set-{{ list.id }}" ng-click="selectList(list.id)" />
                        <label for="select-set-{{ list.id }}"><span></span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder-content">
            <div class="icon"></div>
            <div class="title">
                <h5>Find Study Sets from Quizlet</h5>
            </div>
            <div class="text">
                <p>Look for your favourite topic in the search bar, and save it to your Library.</p>
            </div>
        </div>
    </div>
</div>

<import-sidebar></import-sidebar>

<script src="/js/angular/list/partials/js/import.js"></script>
