<div class="sidebar">
    <div class="toolbox-sidebar">
        <div class="action-toolbox">
            <button ng-click="generateAndPlay()"><h2>Play</h2></button>
        </div>
        <div class="divider-toolbox"></div>
        <div class="options-toolbox">
            <h5>Game options</h5>
            <div class="health-options game-options">
                <div class="bar-health"></div>
                <div class="info-health">
                    <p>Player health</p>
                    <small>The number of mistakes a player can make until they lose.</small>
                </div>
            </div>
            <div class="timer-options game-options">
                <input type="text" class="ring-timer" id="timer" value="20" ng-model="gameSettings.timer" />
                <div class="info-timer">
                    <p>Question timer</p>
                    <small>The number of seconds a player has to answer each question</small>
                </div>
            </div>
        </div>
    </div>
</div>
