<h3>Games</h3>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Date Created</th>
    </thead>

    <tbody>
        <tr ng-repeat="game in games">
            <td><a href="/game/{{game.id}}" title="Edit game"><i class="fa fa-pencil"></i></a></td>
            <td>{{ game.name }}  <tl-label tl-name="{{ game.meta.status }}"></tl-label> <tl-label tl-name="{{ game.meta.scope }}"></tl-label></td>
            <td>{{ game.createdAt | date: longDate }}</td>
        </tr>
    </tbody>
</table>

<script src="js/angular/game/partials/js/app.js"></script>

<style type="text/css">

</style>
