<div class="full_page help">
    <div class="content-full_page">
        <div class="title-help">
            <h3>Help</h3>
        </div>

        <div class="section-help page_map-help">
            <div class="subtitle-section">
                <h5>Page map</h5>
            </div>
            <div class="content-section">
                <div class="media-content">
                </div>
                <div class="text-content">
                    <ol>
                        <li><h5>Navigation</h5></li>
                        <li><h5>User profile</h5></li>
                        <li><h5><a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> / <a class="scrolllink" href="#import" onclick="$('#import').find('.text-content').show()">Import</a></h5></li>
                        <li><h5><a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a></h5></li>
                        <li><h5><a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">Class</a> / <a class="scrolllink" href="#students" onclick="$('#students').find('.text-content').show()">Students</a> / Game options</h5></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section-help walkthrough-help">
            <div class="subtitle-section retract-section">
                <h5>Getting started (walkthrough)</h5>
                <div class="arrow-section"></div>
            </div>
            <div class="content-section">
                <iframe width="440" height="248" src="//www.youtube.com/embed/-yZ3YbmD1LU" frameborder="0" allowfullscreen></iframe>
                <div class="text-content">
                    <p>The core of TestLegends is the <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a>. In order to play a <a class="scrolllink" href="#game" onclick="$('#game').find('.text-content').show()">game</a> to study a topic, we must first have a Study Set.</p>
                    <ol type="a">
                        <li>Go to the <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> page, and click "New Study Set"</li>
                        <li>Click on "Import" to go to the <a class="scrolllink" href="#import" onclick="$('#import').find('.text-content').show()">Import</a> page (alternatively, click on "Import" in the navigation bar at the top)</li>
                    </ol><br>
                    <p>The Import page is where you can search through our database for any existing Study Sets that match your topic.</p>
                    <ol type="a">
                        <li>Search for "TestLegends Basics" (or any topic of your choice)</li>
                        <li>Click on "TestLegends Basics" (or any Study Set that you like)</li>
                    </ol><br>
                    <p>You are now looking at the contents of the Study Set you have selected from your search. Let's save them to your Library.</p>
                    <ol type="a">
                        <li>Select an icon for this Study Set (there are icons specific to general topics, or you may pick "Other")</li>
                        <li>Click "Save"</li>
                    </ol><br>
                    <p>
                        The Study Set should now be visible in your Library. Open it to see it's content. You can change the icon, Study Set name, and <a class="scrolllink" href="#addEdit" onclick="$('#addEdit').find('.text-content').show()">add, edit or delete terms and definitions</a>.
                        The Study Set will be used to generate content for the game.
                    </p>
                    <ol type="a">
                        <li>Click "Play" (simply click back on your browser to exit the game, progress will not be saved)</li>
                    </ol><br>
                    <p>Now you know how to use TestLegends! There are many more exciting features and ways to use TestLegends, scroll down to learn more.</p><br>
                    <p>Feel free to <a class="scrolllink" href="#contactUs">contact us</a> if you have any questions, concerns, or suggestions! We love hearing from you :)</p>
                </div>
            </div>
        </div>

        <div class="section-help basics-help">
            <div class="subtitle-section retract-section">
                <h5>Basics</h5>
                <div class="arrow-section"></div>
            </div>
            <div class="content-section">
                <div class="question-content" id="createStudySet">
                    <div class="heading-content">
                        <p><u>How to create a Study Set</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            This is the first step of TestLegends! Go to the <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> page, and on the top right corner of the Library section, you will see a button called "New Study Set".
                            Clicking on it will bring up a menu with two options: "New blank" and "Import". Select "New blank" to create an empty <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a> that you can name, select an icon,
                            and input <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">terms</a> and <a class="scrolllink" href="#definition" onclick="$('#definition').find('.text-content').show()">definitions</a> to. The Study Set is automatically saved to your Library.
                        </p><br>
                        <p>Congratulations! You've created your first Study Set!</p>
                    </div>
                </div>
                <div class="question-content" id="addEdit">
                    <div class="heading-content">
                        <p><u>How to create terms and definitions</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            You can add, delete, or edit <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">terms</a> and <a class="scrolllink" href="#definition" onclick="$('#definition').find('.text-content').show()">definitions</a> in a <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a> that is saved to your <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a>.
                        </p><br>
                        <ul>
                            <li>
                                To add, click the "New Term" button in the top right corner of the Study Set panel. This will create a new row in your list of terms and definitions. Simply click on the
                                box of each, and type in your term or definition. Any additions and changes are automatically saved.
                            </li><br>
                            <li>
                                To delete, hover your mouse over the term and definition you wish to remove. A delete button will appear to the right of the definition. Clicking the button will
                                erase the entry.
                            </li><br>
                            <li>
                                To edit, click on the term or definition you wish to change. Click outside of the box when you are finished. Any changes are automatically saved.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="question-content" id="importing">
                    <div class="heading-content">
                        <p><u>How to search and import complete Study Sets</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            In the <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> page, click on the “New Study Set” button in the top right corner of the Library section and select “Import” from the menu. This will take you to
                            the <a class="scrolllink" href="#import" onclick="$('#import').find('.text-content').show()">Import</a> page. Here, you can type in any topic you want to search through our database of existing <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Sets</a>. Select the Study Set you want and save it
                            to the Library.
                        </p>
                    </div>
                </div>
                <div class="question-content" id="createMC">
                    <div class="heading-content">
                        <p><u>How to define multiple-choice options for a particular term</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            If you want to be more specific about the <a class="scrolllink" href="#mcOption" onclick="$('#mcOption').find('.text-content').show()">multiple-choice options</a> that show up in the <a class="scrolllink" href="#game" onclick="$('#game').find('.text-content').show()">game</a> for any particular question, simply type in the options in with
                            the original (correct answer) <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">term</a> separated by commas (ex. answer, option1, option2, option3). You will only be able to specify three options since the
                            multiple-choice questions are limited to four choices.
                        </p>
                    </div>
                </div>
                <div class="question-content">
                    <div class="heading-content">
                        <p><u>How to start a game</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            To play the TestLegends <a class="scrolllink" href="#game" onclick="$('#game').find('.text-content').show()">game</a>, you need a <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a> to draw content from. Open the Study Set you want to play, and on the top of the right panel, click
                            “Play”. This will take you into the game environment. To exit the game, simply click back in your browser, progress in the game will not be saved.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-help classes-help">
            <div class="subtitle-section retract-section">
                <h5>Classes</h5>
                <div class="arrow-section"></div>
            </div>
            <div class="content-section">
                <div class="question-content" id="createClass">
                    <div class="heading-content">
                        <p><u>How to create a class</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Creating a <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a> will help you organize and share your <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Sets</a>. You will need to have at least one Study Set in your <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> to create a class,
                            if you don’t have one, click <a class="scrolllink" href="#createStudySet" onclick="$('#createStudySet').find('.text-content').show()">here</a> to learn how to do that. In the Library page, click the “New class” button on the top right corner of the Classes panel.
                            Enter a class name in the popup, and select the Study Sets you want to be included into that class (you may add or delete Study Sets later on as well). Click “Save”
                            and voilà! You’ve created a new class.
                        </p>
                    </div>
                </div>
                <div class="question-content" id="inviteUser">
                    <div class="heading-content">
                        <p><u>How to add students / classmates to a class</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Once you’ve created a <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a>, you can share its contents with other TestLegends users. Open the class you want to invite users to, and on the top right corner
                            of the <a class="scrolllink" href="#students" onclick="$('#students').find('.text-content').show()">Students</a> or <a class="scrolllink" href="#students" onclick="$('#students').find('.text-content').show()">Classmates</a> panel, click on “Invite”. You can either enter a person’s email address and click “Add”, or copy and share the provided
                            <a class="scrolllink" href="#invite" onclick="$('#invite').find('.text-content').show()">invite code</a>.
                        </p><br>
                        <p>
                            If the person you have invited is not a TestLegends user, an email invitation will be sent to them with a link to register for TestLegends. They will automatically
                            be enrolled in your class once their account has been created.
                        </p>
                    </div>
                </div>
                <div class="question-content" id="joinClass">
                    <div class="heading-content">
                        <p><u>How to join a class</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Currently, the only ways to join a <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a> is either by <a class="scrolllink" href="#invite" onclick="$('#invite').find('.text-content').show()">receiving an invite code</a> or when a member of that class adds you. If you have received an invite code, simply go to
                            the <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a> page, and enter the code into the input box at the bottom of the Classes panel (on the right) and click “Join class”. If you have been added by
                            another member, then you will be automatically enrolled to the class, and it will appear in your Classes panel.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-help gameplay-help" id="game">
            <div class="subtitle-section retract-section">
                <h5>Gameplay</h5>
                <div class="arrow-section"></div>
            </div>
            <div class="content-section">
                <div class="media-content">
                    <iframe width="290" height="163" src="//www.youtube.com/embed/uH1Fevh2HcE" frameborder="0" allowfullscreen></iframe>
                    <iframe width="290" height="163" src="//www.youtube.com/embed/jw7GejJqu-E" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="text-content">
                    <p>The game is a multiple-choice monster-bashing battle of your knowledge from the terms and definitions in your selected Study Set.</p><br>
                    <p>
                        <a class="scrolllink" href="#definition" onclick="$('#definition').find('.text-content').show()">Definitions</a> will form questions and the <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">terms</a> in the <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Set</a> will be randomly chosen to become the multiple-choice options (including the correct term).
                        If there are <a class="scrolllink" href="#mcOption" onclick="$('#mcOption').find('.text-content').show()">multiple-choice options defined for a particular term</a>, then those will be used instead.
                    </p><br>
                    <p class="indent-text">
                        <u>Attacking</u><br>Click on a monster with the best answer to attack. Once you've defeated all the monsters, you win!
                    </p><br>
                    <p class="indent-text">
                        <u>Making a mistake</u><br>Beware! Choosing the wrong answer will let the monsters attack you! If you lose all your health, you will lose the battle.
                        Questions you get wrong will be repeated throughout the game to improve your learning.
                    </p><br>
                    <p>To exit the game, click the back button on your browser. Your progress will not be saved.</p>
                </div>
            </div>
        </div>

        <div class="section-help index-help">
            <div class="subtitle-section retract-section">
                <h5>Index</h5>
                <div class="arrow-section"></div>
            </div>
            <div class="content-section">
                <div class="question-content" id="studySet">
                    <div class="heading-content">
                        <p><u>What is a Study Set</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            A list of <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">terms</a> and <a class="scrolllink" href="#definition" onclick="$('#definition').find('.text-content').show()">definitions</a> that you are learning. Your Study Sets will be at the core of what you do in TestLegends, whether it is playing a
                            <a class="scrolllink" href="#game" onclick="$('#game').find('.text-content').show()">game</a>, or creating a <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a>.
                        </p><br>
                        <p>Learn how to create them <a class="scrolllink" href="#createStudySet" onclick="$('#createStudySet').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="terms">
                    <div class="heading-content">
                        <p><u>What is a term</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Words or expressions and phrases you are learning. These will be used as answers and <a class="scrolllink" href="#mcOption" onclick="$('#mcOption').find('.text-content').show()">multiple-choice options</a> in the TestLegends game.
                        </p><br>
                        <p>Learn how to create them <a class="scrolllink" href="#addEdit" onclick="$('#addEdit').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="definition">
                    <div class="heading-content">
                        <p><u>What is a defintion</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Sentences explaining or related to it’s corresponding <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">term</a>. Definitions will be used as the questions in the TestLegends game.
                        </p><br>
                        <p>Learn how to create them <a class="scrolllink" href="#addEdit" onclick="$('#addEdit').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="mcOption">
                    <div class="heading-content">
                        <p><u>What is a multiple-choice option</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            <a class="scrolllink" href="#terms" onclick="$('#terms').find('.text-content').show()">Terms</a> that are specified for a particular <a class="scrolllink" href="#definition" onclick="$('#definition').find('.text-content').show()">definition</a> which are incorrect. These will be used as the wrong answers in a multiple choice question
                            during the TestLegends game. These are normally specifically chosen to trick and test a student’s full knowledge of a concept.
                        </p><br>
                        <p>Learn how to create them <a class="scrolllink" href="#createMC" onclick="$('#createMC').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="library">
                    <div class="heading-content">
                        <p><u>What is the Library</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            The main section of TestLegends, where all your <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Sets</a> live.
                        </p>
                    </div>
                </div>
                <div class="question-content" id="import">
                    <div class="heading-content">
                        <p><u>What is Import</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            Importing allows you to search through TestLegends' database of existing <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Sets</a> and save them to your <a class="scrolllink" href="#library" onclick="$('#library').find('.text-content').show()">Library</a>. Our search is also linked with
                            Quizlet’s database, which will allow you to import content from there as well. You can create a whole new class without creating any Study Sets yourself!
                        </p><br>
                        <p>Learn how to import <a class="scrolllink" href="#importing" onclick="$('#importing').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="class">
                    <div class="heading-content">
                        <p><u>What is a class</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            A collection of <a class="scrolllink" href="#studySet" onclick="$('#studySet').find('.text-content').show()">Study Sets</a> that can be shared with <a class="scrolllink" href="#students" onclick="$('#students').find('.text-content').show()">students</a> or <a class="scrolllink" href="#students" onclick="$('#students').find('.text-content').show()">classmates</a>. Classes help you group and organize topics together.
                        </p><br>
                        <p>Learn how to create them <a class="scrolllink" href="#createClass" onclick="$('#createClass').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="students">
                    <div class="heading-content">
                        <p><u>What is a student / classmate</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            A student or classmate is another TestLegends user that is enrolled in the same <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a> as you. If you created the class, then they will appear as students.
                            If you are an invitee, then other users will appear as classmates.
                        </p><br>
                        <p>Learn how to invite users <a class="scrolllink" href="#inviteUser" onclick="$('#inviteUser').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
                <div class="question-content" id="invite">
                    <div class="heading-content">
                        <p><u>What is the invite code</u></p>
                    </div>
                    <div class="text-content">
                        <p>
                            It is a code used to identify a <a class="scrolllink" href="#class" onclick="$('#class').find('.text-content').show()">class</a> in TestLegends. Use it to join a class.
                        </p><br>
                        <p>Learn how to join a class <a class="scrolllink" href="#joinClass" onclick="$('#joinClass').find('.text-content').show()">here</a>.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact_us-help" id="contactUs">
            <div class="subtitle-section">
                <p>Still unsure about something?</p>
            </div>
            <button onclick="$('.uv-icon').click()"><h4>Contact us</h4></button>
        </div>
    </div>
</div>


<script>
$(document).ready(function(){
    $('.question-content .text-content').hide();

    $('.retract-section').click(function(){
        var elem = $(this).next('.content-section'),
            arrow = $(this).find('.arrow-section');

        if (!elem.is(':visible')) {
            arrow.css({
                "-webkit-transform": "rotate(0deg)",
                "-moz-transform": "rotate(0deg)",
                "transition": "0.06s"
            });
        } else if (!elem.is(':hidden')) {
            arrow.css({
                "-webkit-transform": "rotate(-90deg)",
                "-moz-transform": "rotate(-90deg)",
                "transition": "0.06s"
            });
        }

        $(this).next('.content-section').slideToggle();
    });

    $('.heading-content').click(function(){
        $(this).next('.text-content').slideToggle();
    });

    $('.scrolllink').click(function(){
        event.preventDefault();
        $('body').animate({
            scrollTop: $($(this).attr('href')).offset().top - 90
        }, 1000);
    });
});
</script>
