<div class="panel panel-default">
    <div class="panel-heading">Game Options</div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="numForStage" placeholder="Enter a number" value="10" />
                </div>
                <label for="numForStage" class="control-label col-sm-6" style="text-align: left; padding-left:0; padding-right: 0; font-size: 13px;">Questions per Stage</label>
            </div>
        </form>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="numForStage" placeholder="Enter a number" value="10" />
                </div>
                <label for="numForStage" class="control-label col-sm-6" style="text-align: left; padding-left:0">Stages</label>
            </div>
        </form>

        <div class="form-group">
            <label for="numForStage" class="control-label">Time per Question</label>
            <br />
            <div class="col-sm-5">
                <input type="number" class="form-control" style="height: 30px; padding-top: 4px; text-align: center;" id="numForStage" placeholder="Enter a number" value="20" />
            </div>
            <select class="col-sm-7"><option>seconds</option><option>minutes></option></select>
        </div>
    </div>
</div>
