<div class="panel panel-default">
    <div class="panel-heading">Master</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="numForStage">Overall Type:</label>&nbsp;&nbsp;
            <select class="form-group"><option>None</option></select>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="numForQuestion" placeholder="Enter a number" value="4" />
                </div>
                <label for="numForQuestion" class="control-label col-sm-8" style="text-align: left; padding-left:0">Options per Question</label>
            </div>
        </form>

        <div>
            <b>Sort By:</b><br/>
            <select class="">
                <option>Difficulty</option>
                <option>Type</option>
                <option>Manual</option>
            </select> in
            <select class="">
                <option>Ascending</option>
                <option>Descending</option>
                <option>Manual</option>
            </select>
        </div><br />

    </div>
</div>
