<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-1">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse qnum">1</i>
                </span>
            </div>

            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-5">
                        <select class="form-control">
                            <option>Difficulty</option>
                            <option>Hard</option>
                            <option>Intermediate</option>
                            <option>Easy</option>
                        </select>
                    </div>
                    <div class="col-lg-5">
                        <select class="form-control">
                            <option>Type</option>
                            <option>Multiple Choice</option>
                            <option>Short Answer</option>
                            <option>Fill the blank</option>
                        </select>
                    </div>
                </div>

                <br />

                <textarea class="form-control" rows="8" placeholder="Enter your question"></textarea>
            </div>

            <div class="col-lg-4">
                <div class="form-group has-success">
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group has-error">
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group has-error">
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group has-error">
                    <input type="text" class="form-control" />
                </div>

                <div class="add_option">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>Add more options</span>
                </div>
            </div>
        </div>
    </div>
</div>
