@font-face {
    font-family: SHOWG;
    src: url('SHOWG.TTF');
}

/* Sticky footer styles */
html, body {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
#wrap > .container {
    padding-top: 20px;
}

/* Set the fixed height of the footer here */
#push {
	height: 80px;
}
footer {
	height: 60px;
    background-color: #efefef;
	text-align: center;
}
.credit {
	margin: 20px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


body {
	padding-top: 40px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Raleway";
}

h2, h3, h4 {
	margin: 18px 0 18px;
}

a:hover {
	text-decoration: none;
}

.tab-content {
	overflow: visible;
}

.table th, .table td {
	vertical-align: middle;
}


/** Custom CSS **/
.navbar {
    min-height: 40px;
    background: #181C4B;
}

.navbar-brand.h5 {
    height: 40px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand.h5 span {
    font-family: 'SHOWG';
    font-size: 26px;
    padding-top: 2px;
    display: inline-block;
    vertical-align: text-bottom;
}

.navbar-with-img {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-with-img > span {
    top: 2px;
    position: relative;
}

.navbar-without-img {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.navbar-right {
    font-size: 16px;
}

.navbar-right img {
    border-radius: 20px;
    margin-left: 8px;
}
