
<h3>Edit for {{ list.title }}</h3>

<div class="row">
    <div class="col-lg-3">
        <h5>Title</h5>
    </div>

    <div class="col-lg-9">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="list.title" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <h5>Description</h5>
    </div>

    <div class="col-lg-9">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="list.desc" />
        </div>
    </div>
</div>

<hr class="clearfix" />

<div class="row">
    <div class="col-lg-3">
        <h5>Terms</h5>
    </div>

    <div class="col-lg-9">
        <div class="row" ng-repeat="term in list.terms">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="term.term" />
                </div>
            </div>

            <div class="col-lg-8">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="term.definition" />
                </div>
            </div>
        </div>

        <button class="btn btn-primary" ng-click="addTerm()">Add Term</button>
    </div>
</div>
