<div class="core">
    <div class="content-core">
        <div class="header-content import-header"> <!-- header colour changes based on icon chosen => import-header -->
            <div class="set-header">
                <div class="study-set-header import-set-header">
                    <h4>{{ list.title }}</h4>
                    <h5>{{ list.description }}</h5>
                </div>
            </div>
        </div>
        <div class="legend-content import-header">
            <div class="term-legend">
                <p>Terms</p>
            </div><div class="def-legend">
                <p>Definitions / Questions</p>
            </div>
        </div>
        <div class="study-content">
            <div class="study_set term-set import-set" ng-repeat="term in list.terms">
                <div class="term-content">
                    <div class="terms">
                        <p>{{ term.term }}</p>
                    </div><div class="definitions">
                        <p>{{ term.definition }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder-content">
            <div class="icon"></div>
            <div class="title">
                <h5>Your Terms and Definitions live here</h5>
            </div>
            <div class="text text-study_set">
                <p>Add your own Terms and Definitions, or edit existing ones from imported Study Sets.</p>
            </div>
        </div>
    </div>
</div>

<import-sidebar></import-sidebar>
