<div class="core">
    <div class="content-core">
        <div class="header-content study-header {{ list.category }}-background"> <!-- header colour changes based on icon chosen => study-header -->
            <div class="set-header">
                <div class="icon-set-header">
                    <div class="{{ list.category }}-icon icon-image"></div>
                    <div class="hover-icon" ng-if="currUser.id === list.meta.userId">
                        <p>change icon</p>
                    </div>
                    <div class="menu-icon" ng-if="currUser.id === list.meta.userId">
                        <div class="arrow-menu"></div>
                        <div class="box-menu">
                            <button class="icon-set" ng-click="changeCategory('geography')">
                                <div class="geography-icon"></div>
                                <p>Geography</p>
                            </button>
                            <button class="icon-set" ng-click="changeCategory('language')">
                                <div class="language-icon"></div>
                                <p>Language</p>
                            </button>
                            <button class="icon-set" ng-click="changeCategory('history')">
                                <div class="history-icon"></div>
                                <p>History</p>
                            </button>
                            <button class="icon-set" ng-click="changeCategory('science')">
                                <div class="science-icon"></div>
                                <p>Science</p>
                            </button>
                            <button class="icon-set" ng-click="changeCategory('math')">
                                <div class="math-icon"></div>
                                <p>Math</p>
                            </button>
                            <button class="icon-set" ng-click="changeCategory('other')">
                                <div class="other-icon"></div>
                                <p>Other</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="study-set-header">
                    <textarea ng-blur="doneEditTitle($event)" class="{{ list.category }}-background" ng-model="list.title"></textarea>
                    <h4 ng-click="editTitle($event)">{{ list.title }}</h4>
                    <h5>{{ list.terms.length }} terms</h5>
                </div>
            </div>
            <div class="add_new" ng-if="currUser.id === list.meta.userId">
                <button ng-click="addTerm()"><h5>Add new</h5></button>
                <div class="hover-add"> <!-- hidden, add if necessary -->
                    <p>Add new Term</p>
                </div>
            </div>
            <div class="add_new" ng-if="currUser.id !== list.meta.userId">
                <button ng-click="saveList()"><h5>Save StudySet</h5></button>
                <div class="hover-add"> <!-- hidden, add if necessary -->
                    <p>Save the StudySet to library</p>
                </div>
            </div>
            <div class="sort-header">
                <label id="list-sort-label">
                    <select id="list-sort" ng-model="listOrder">
                        <option value="default" selected><p>Default</p></option>
                        <option value="alpha" selected><p>a-z</p></option>
                        <option value="alphaReverse"><p>z-a</p></option>
                    </select>
                    <!--::after-->
                </label>
            </div>
        </div>
        <div class="legend-content study-header {{ list.category }}-background">
            <div class="term-legend">
                <p>Terms</p>
            </div><div class="def-legend">
                <p>Definitions / Questions</p>
            </div>
        </div>
        <div class="study-content">
            <div class="study_set term-set" ng-repeat="term in list.terms | orderBy:predicate:reverse">
                <div class="term-content">
                    <div class="terms">
                        <textarea ng-blur="doneEditTerm($event)" placeholder="term / correct choice here, multiple-choice 1, multiple-choice 2, multiple-choice 3" ng-model="term.options_raw"></textarea>
                        <p ng-click="editTerm($event)" ng-bind-html="term.options_raw | GreyOutOptions"></p>
                    </div><div class="definitions">
                        <textarea ng-blur="doneEditTerm($event)" placeholder="definition / question here" rows="1" ng-model="term.definition"></textarea>
                        <p ng-click="editTerm($event)">{{ term.definition }}</p>
                    </div>
                </div>
                <div class="set-edit">
                    <div class="delete-set" ng-if="currUser.id === list.meta.userId">
                        <button ng-click="removeTerm(term.term)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholder-content">
            <div class="icon"></div>
            <div class="title">
                <h5>Your Terms and Definitions live here</h5>
            </div>
            <div class="text text-study_set">
                <p>Add your own Terms and Definitions, or edit existing ones from imported Study Sets.</p>
            </div>
        </div>
    </div>
</div>

<play-sidebar></play-sidebar>

<script src="/js/angular/term/partials/js/index.js"></script>
