<h3 class="pull-left">{{ list.title }}</h3>

<div class="pull-right">
    <button class="btn btn-primary" ng-click="login()" ng-if="!loggedIn()">Login to Save List</button>
    <button class="btn btn-primary" ng-click="create()" ng-if="loggedIn() && !isCreator(list.id)">Save List</button>
    <a class="btn btn-primary" href="/list/{{ list.id }}/edit"><i class="fa fa-pencil"></i></a>
</div>

<hr class="clearfix" />

<table class="table table-striped table-hover table-bordered">
    <tr>
        <td>Term</td>
        <td>Definition</td>
    </tr>
    <tr ng-repeat="term in list.terms">
        <td>{{ term.term }}</td>
        <td>{{ term.definition }}</td>
    </tr>
</table>

<style type="text/css">

</style>
